body{
  padding: 0;
  margin:0;
}
@media screen and (max-width: 600px) {
  ul.mynav li.right,
  ul.mynav li {float: none;}
  a > img.right,
  a > img {float: none;}
}
.mynav{
  color:white;
  background-color:#0b0d21;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 1px;
  border-collapse:collapse;
  overflow: auto;
  position: sticky;
}

.li{
  float: left;
  font-size:20px;
}
.li-right{
  float: right;
  font-size:20px;
}
.logout,.mylink{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px ;
  text-decoration: none;
}

.logout:hover,.mylink:hover{
  color:white;
  background-color:#050612;
}
.vh{
  font-size:20px;
  position: relative;
  padding-top:100px;
  padding-bottom:100px;
  padding: :100px;
  margin-left:5%;
  text-decoration: none;
}
.vplh{
  margin-top:10px;
}
.vplthr{
  border:1px solid black;
}
.vpltr{
  border:1px solid black;
}
.vpltr:hover{
  background-color: #d9dedd;
}
.vpltr:nth-child(even):hover {
  background-color: #d9dedd;
}
.vpltr:nth-child(even) {
  background-color: #f2f2f2;
}
.vplt{
    border-collapse:collapse;
}
.vplt{
  border:1px solid black;
  margin-left:10%;
  margin-top:3%;
  text-align:center;
  width:80%;
}
.line{
  width:25%;
  margin-left: 27px;
}
.vpaf{
  border-radius: 10px;
}
.paf{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  background-color: #bfc7c5;
  border-radius: 3px;

}
.vl{
  border-left: 1px solid grey;
  height: 90%;
  margin-top: 6%;
  margin-left:50%;
}
.title{
  border: 1px solid grey;
  border-radius: 3px;
  margin-top:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title-label{
  margin-left:40%;
  margin-top:10px;
  font-size:20px;
}
.description{
  border: 1px solid grey;
  width:50%;
  height:90px;
  border-radius: 3px;
  margin-top:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.description-label{
  margin-left:20%;
  padding-right: 0%;
  margin-top:10px;
  font-size:20px;
}
.price{
  border: 1px solid grey;
  border-radius: 3px;
  margin-top:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.price-label{
  margin-top:10px;
  font-size:20px;
}
.stock{
  border: 1px solid grey;
  border-radius: 3px;
  margin-top:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.stock-label{
  margin-top:10px;
  font-size:20px;
}
.img{
  border: 1px solid grey;
  border-radius: 3px;
  margin-top:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-label{
  margin-top:10px;
  font-size:20px;
}
.type{
  border: 1px solid grey;
  border-radius: 3px;
  margin-top:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.type-label{
  margin-top:10px;
  font-size:20px;
}
