{%extends 'base.html'%}

{%block homenav%}
<li class="li"> <a class="mylink" href="{%url 'userss:customer-prod-list-url'%}"> Home</a></li>
{%endblock%}

{%block content%}
  <style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .price {
    color: grey;
    font-size: 22px;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: ;
    cursor: pointer;
  }
</style>
<ul style="background-color:#0f122b;" class="mynav">
  <li class="li"> <a class="mylink" href="{%url 'userss:women-url'%}">Women</a> </li>
  <li class="li"> <a class="mylink" href="{%url 'userss:men-url'%}">Men</a> </li>
  <li class="li"> <a class="mylink" href="#">Kids</a> </li>

</ul>
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="dropdown">
          <a class="dropbtn">Upper Wear</a>
          <div class="dropdown-content">
            <a href="{%url 'userss:men-jackets-url'%}">Jackets</a>
            <a href="{%url 'userss:men-shirts-url'%}">Shirts</a>
            <a href="{%url 'userss:men-tshirts-url'%}">Tshirts</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dropdown">
          <a class="dropbtn">Bottom Wear</a>
          <div class="dropdown-content">
            <a href="{%url 'userss:men-jeans-url'%}">Jeans</a>
            <a href="{%url 'userss:men-shorts-url'%}">Shorts</a>
            <a href="{%url 'userss:men-tights-url'%}">Tights</a>
            <a href="{%url 'userss:men-trousers-url'%}">Trousers</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dropdown">
          <a class="dropbtn">Shoes</a>
          <div class="dropdown-content">
            <a href="{%url 'userss:men-joggers-url'%}">Joggers</a>
            <a href="{%url 'userss:men-sneakers-url'%}">Sneakers</a>
            <a href="{%url 'userss:men-pumps-url'%}">Pumps</a>
            <a href="{%url 'userss:men-heels-url'%}">Heels</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <a href="{%url 'userss:cart-url'%}" type="button" name="button">View Cart</a>
  </div>
  <div class="row">

    {%for product in prod%}
    <div class="col-md-4">

      <div class="card" style="width: 18rem;">
        <img src="{{product.img.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p>Rem. Stock: {{product.stock}}</p>
          {% if product.stock > 0 %}
          <a data-product={{product.id}} data-action="add" href="#" class="btn btn-primary update-cart">
            <i class="bi bi-cart4"></i> Add To Cart
          </a>
          {%elif product.stock <= 0 %}
            More stock will be added soon!
          {%endif%}
        </div>
      </div>
    </div>
    {%endfor%}

  </div>
  {%endblock%}
